@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.css";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


/* checkbox custom color */

/* first */
  .custom-checkbox .ant-checkbox-inner {
    background-color: white; /* Set custom background color */
    border-color: gray; /* Set custom border color */
  }
  .custom-checkbox .ant-checkbox-inner::after {
    border-color: white; /* Ensure custom color is applied for the checkmark border */
  }
  .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    background-color: white !important;; /* Maintain custom background color when checked */
    border-color: gray !important;; /* Ensure custom border color when checked */
  }
  
  .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: black; /* Set the checkmark color to white */
  }
  /* second */
  .custom-checkbox1 .ant-checkbox-inner {
    background-color: brown; /* Set custom background color */
    border-color: brown; /* Set custom border color */
  }
  .custom-checkbox1 .ant-checkbox-inner::after {
    border-color: brown; /* Ensure custom color is applied for the checkmark border */
  }
  .custom-checkbox1 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: brown !important;; /* Maintain custom background color when checked */
    border-color: brown !important;; /* Ensure custom border color when checked */
  }
  .custom-checkbox1 .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffffff; /* Set the checkmark color to white */
  }
  /* third */
  .custom-checkbox2 .ant-checkbox-inner {
    background-color: red; 
    border-color: red; 
  }
  .custom-checkbox2 .ant-checkbox-inner::after {
    border-color: red; 
  }
  .custom-checkbox2 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: red !important;; 
    border-color: red !important;;
  }
  .custom-checkbox2 .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffffff;
  }
  /* fourth */
  .custom-checkbox3 .ant-checkbox-inner {
    background-color: teal; 
    border-color: teal; 
  }
  .custom-checkbox3 .ant-checkbox-inner::after {
    border-color: teal; 
  }
  .custom-checkbox3 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: teal !important;; 
    border-color: teal !important;;
  }
  .custom-checkbox3 .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffffff;
  }
  /* Fifth */
  .custom-checkbox4 .ant-checkbox-inner {
    background-color: pink; 
    border-color: pink; 
  }
  .custom-checkbox4 .ant-checkbox-inner::after {
    border-color: pink; 
  }
  .custom-checkbox4 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: pink !important;; 
    border-color: pink !important;;
  }
  .custom-checkbox4 .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffffff;
  }
  /* sixth */
  .custom-checkbox5 .ant-checkbox-inner {
    background-color: purple; 
    border-color: purple; 
  }
  .custom-checkbox5 .ant-checkbox-inner::after {
    border-color: purple; 
  }
  .custom-checkbox5 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: purple !important;; 
    border-color: purple !important;;
  }
  .custom-checkbox5 .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffffff;
  }
  /* seventh */
  .custom-checkbox6 .ant-checkbox-inner {
    background-color: coral; 
    border-color: coral; 
  }
  .custom-checkbox6 .ant-checkbox-inner::after {
    border-color: coral; 
  }
  .custom-checkbox6 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: coral !important;; 
    border-color: coral !important;;
  }
  .custom-checkbox6 .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffffff;
  }

  .custom-tooltip .ant-tooltip-inner {
    background-color: #ff6347 !important; /* Your desired background color */
    color: #ffffff; /* Text color */
  }
  .custom-tooltip .ant-tooltip-arrow-content {
    background-color: #ff6347 !important; /* Same color as the tooltip background */
  }
  @keyframes blink {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.blink-effect {
    animation: blink 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-20deg); }
  50% { transform: rotate(20deg); }
  75% { transform: rotate(-20deg); }
}
  .shake-icon:hover .cart-icon {
    animation: shake 0.3s ease-in-out 2;
}

.image-container {
  position: relative;
  overflow: hidden;
  display: flex;
}

.image-container img {
  display: flex;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-out;
  opacity: 0;
  pointer-events: none;
  animation: ripple-animation 1s forwards;
}

.image-container:hover::after {
  width: 200%;
  height: 200%;
  opacity: 1;
  transition: width 1s ease-out, height 1s ease-out, opacity 1s ease-out;
}

.slider-container .slick-slide > div {
  margin: 0 5px;
}


}
